<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define various log targets -->
  <targets>
    
    <!-- Log to a file -->
    <target xsi:type="File" name="file" fileName="logs/autochess_log.txt" layout="${longdate} ${level} ${logger} ${message}" />

    <!-- Log to the console -->
    <target xsi:type="Console" name="console" layout="${longdate} ${level} ${logger} ${message}" />
  
  </targets>

  <!-- Rules to route logs to appropriate targets -->
  <rules>
    
    <!-- Log all messages with level greater than or equal to Warning to the file target -->
    <logger name="*" minlevel="Warn" writeTo="file" />
    
    <!-- Log all messages with level greater than or equal to Info to the console target -->
    <logger name="*" minlevel="Info" writeTo="console" />
  
  </rules>
  
</nlog>
